@use "variable.scss" as *;
@use "src/styles/elements/_elements.svg.scss" as *;

.doctor-list {
  margin-top: 72px;

  .gray-bg {
    &:hover {
      background: $purple;
      color: $white;
      cursor: pointer;
    }

    &.selected {
      background: $purple;
      color: $white;
      cursor: pointer;
    }
  }
}