<section class="faq">
  <div class="faq__inner">
    <!-- Header -->
    <div class="faq__header">
      <span class="faq__badge">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" fill="currentColor"/></svg>
        Help Centre
      </span>
      <h2 class="faq__title">Frequently Asked Questions</h2>
      <p class="faq__subtitle">Everything you need to know about using NectarPlus for your healthcare needs</p>
    </div>

    <!-- Accordion list -->
    <div class="faq__list">
      <!-- Skeleton loader -->
      <ng-container *ngIf="loading">
        <div *ngFor="let skeleton of [1,2,3,4]" class="faq-skeleton">
          <div class="skeleton-header shimmer"></div>
        </div>
      </ng-container>

      <ng-container *ngIf="!loading">
        <mat-accordion *ngFor="let item of questionArray; let i = index; trackBy: trackByIndex">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ item?.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              {{ item.answer | slice: 0:(isExpanded[i] ? undefined : 150) }}
              <span *ngIf="item.answer.length > 150">
                ...
                <button color="primary" (click)="toggleReadMore(i)">
                  {{ isExpanded[i] ? 'Read Less' : 'Read More' }}
                </button>
              </span>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </div>
  </div>
</section>
